<h1 mat-dialog-title>Add Product Form</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
      <mat-label>Product Name</mat-label>
      <input formControlName="productName" matInput placeholder="Product Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Product Category</mat-label>
      <mat-select formControlName="category" placeholder="Category">
        <mat-option value="fruits">Fruits</mat-option>
        <mat-option value="vegetables">Vegetables</mat-option>
        <mat-option value="electronic">Electronic</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Choose a date</mat-label>
      <input formControlName="date" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <label for="">
      <h1>Product Freshness</h1>
    </label>
    <mat-radio-group formControlName="freshness" class="example-radio-group">
      <mat-radio-button class="example-radio-button" *ngFor="let fresh of freshnessList"
                        [value]="fresh">{{fresh}}</mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input formControlName="price" matInput type="number" placeholder="Price">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea formControlName="comment" matInput></textarea>
    </mat-form-field>
  </form>
</div>
<div matDialogActions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary"
          (click)="!this.editData ? addProductHandler() : updateProductHandler()">{{actionBtn}}</button>
</div>
